.red {
  color: #fa8072;
}

.blue {
  color: #1e90ff;
}

.purple {
  color: #8c88b9;
}

.font110 {
  font-size: 110%;  
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}
