.title-slide {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://previously.tv/m/kotm-par-sebastian-full.jpg);
  background-size: cover;
}

.red {
  color: #fa8072;
}

.blue {
  color: #1e90ff;
}

.purple {
  color: #8c88b9;
}

.grey {
  color: #dcdcdc;
}

.white {
  color: #ffffff;
}

.font110 {
  font-size: 110%;  
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}

.width3rd {
  width: 33%;
}

.width50 {
  width: 50%;
}
